/**
 * @file
 * Visual styles for Startup Growth Lite's flexsliders.
 */
.flexslider {
  border: none;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  display: none;
}
