/**
 * @file
 * Visual styles for Startup Growth Lite's nav pills.
 */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #3f3f3f;
}
.nav-pills > li > a {
  text-transform: capitalize;
}

/*nav pills @colored-regions*/
.colored-region .nav-pills > li > a {
  text-decoration: none;
}
.colored-region .nav-pills > li.active > a,
.colored-region .nav-pills > li.active > a:hover,
.colored-region .nav-pills > li.active > a:focus,
.colored-region .nav-pills > li > a:hover,
.colored-region .nav-pills > li > a:focus  {
  background-color: rgba(255, 255, 255, 0.2);
}
