/**
 * @file
 * Visual styles for Startup Growth Lites's transparent header.
 */
/*Layout*/
.header-container.transparent-header {
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 22;
}
@media (max-width:767px) {
  .header-container.transparent-header {
    position: static;
  }
}

/*Drupal Resets*/
.transparent-header + .banner .block:first-child .contextual {
  top: 120px;
}
.transparent-header + .banner .block:first-child .view .contextual {
  top: 150px !important;
}
